#Warm-Up Coding

Exercise 01

In [3]:
def cubes(a):
    return a**3

In [9]:
print(cubes(3), cubes(5), cubes(10))

27 125 1000

Exercise 02

In [14]:
#The vertical bar | is the equivalent to "or" in RegEx. 
#The regular expression x|y matches either "x" or "y". 
#Write the regular expression that will match all red flag and blue flag in a string.
#You must use | in your expression. Flags can come in any order.

import re

pattern = "^red|blue.*flag$"

In [47]:
txt1 = "red flag blue flag"
txt2 = "yellow flag red flag blue flag green flag"
txt3 = "pink flag red flag black flag blue flag green flag red flag"
pattern = "red flag|blue flag"

In [48]:
re.findall(pattern, txt1)

['red flag', 'blue flag']

In [49]:
re.findall(pattern, txt2)

['red flag', 'blue flag']

In [50]:
re.findall(pattern, txt3)

['red flag', 'blue flag', 'red flag']

Exercise 03

In [57]:
#Create a function that inverts the rgb values of a given tuple.
def color_invert(rgb):
    
    invert = []
    
    for x in rgb:
        invert.append(255 - x)
    
    return tuple(invert)

In [58]:
color_invert((255, 255, 255))

(0, 0, 0)

In [59]:
color_invert((0, 0, 0))

(255, 255, 255)

In [60]:
color_invert((165, 170, 221))

(90, 85, 34)

Exercise 04

When resistors are connected together in series, the same current passes through each resistor in the chain and the total resistance, RT, of the circuit must be equal to the sum of all the individual resistors added together. That is:

RT = R1 + R2 + R3 ...
Create a function that takes an array of values resistance that are connected in series, and calculates the total resistance of the circuit in ohms. The ohm is the standard unit of electrical resistance in the International System of Units ( SI ).

In [92]:
def series_resistance(series):
    RT = sum(series)
    if RT <= 1:
        return f"{RT} ohm"
    else:
        return f"{RT} ohms"

In [96]:
def series_resistance(series):
    RT = sum(series)
    if RT <= 1:
        return ("{RT} ohm").format(RT=RT)
    else:
        return ("{RT} ohm").format(RT=RT)

In [97]:
series_resistance([1, 5, 6, 3]) #"15 ohms"

'15 ohm'

In [86]:


series_resistance([16, 3.5, 6]) #"25.5 ohms"

'25.5 ohms'

In [87]:
series_resistance([0.5, 0.5]) #"1.0 ohm"

'1.0 ohm'

Exercise 05

Python got drunk and the built-in functions str() and int() are acting odd:

str(4) ➞ 4

str("4") ➞ 4

int("4") ➞ "4"

int(4) ➞ "4"
You need to create two functions to substitute str() and int(). A function called int_to_str() that converts integers into strings and a function called str_to_int() that converts strings into integers.

Examples:
int_to_str(4) ➞ "4"

str_to_int("4") ➞ 4

int_to_str(29348) ➞ "29348"

Notes
This is meant to illustrate the dangers of using already-existing function names.
Extra points if you can de-drunk Python.

In [13]:
def int_to_str(num):
    number = f'{num}'
    return number

def str_to_int(text):
    number = float(text)
    return number

In [14]:
str_to_int("4")

4.0

In [15]:
int_to_str(29348)

'29348'

In [16]:
int_to_str(4)

'4'

Exercise 06

Given the month and year as numbers, return whether that month contains a Friday 13th.

Examples
has_friday_13(3, 2020) ➞ True

has_friday_13(10, 2017) ➞ True

has_friday_13(1, 1985) ➞ False
Notes
January will be given as 1, February as 2, etc ...
Check Resources for some helpful tutorials on Python's datetime module.

In [38]:
import datetime

weekDays = "monday tuesday wednesday thursday friday saturday sunday".split(" ")

def has_friday_13(month, year):
    
    day_date = datetime.date(year, month, 13)
    
    day_weekday = day_date.weekday()
    
    day_weekday_as_string = weekDays[day_weekday]
    
    if day_weekday_as_string == "friday":
        return True
    else:
        return False

In [39]:
days

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [40]:
has_friday_13(4, 2022)

False

In [41]:
has_friday_13(4, 2022)

False

In [42]:
has_friday_13(10, 2017)

True

In [43]:
has_friday_13(1, 1985)

False

In [44]:
has_friday_13(3, 2020)

True