#Warm-Up Coding

Exercise 01

In [3]:
def cubes(a):
    return a**3

In [9]:
print(cubes(3), cubes(5), cubes(10))

27 125 1000

Exercise 02

In [14]:
#The vertical bar | is the equivalent to "or" in RegEx. 
#The regular expression x|y matches either "x" or "y". 
#Write the regular expression that will match all red flag and blue flag in a string.
#You must use | in your expression. Flags can come in any order.

import re

pattern = "^red|blue.*flag$"

In [47]:
txt1 = "red flag blue flag"
txt2 = "yellow flag red flag blue flag green flag"
txt3 = "pink flag red flag black flag blue flag green flag red flag"
pattern = "red flag|blue flag"

In [48]:
re.findall(pattern, txt1)

['red flag', 'blue flag']

In [49]:
re.findall(pattern, txt2)

['red flag', 'blue flag']

In [50]:
re.findall(pattern, txt3)

['red flag', 'blue flag', 'red flag']

Exercise 03

In [57]:
#Create a function that inverts the rgb values of a given tuple.
def color_invert(rgb):
    
    invert = []
    
    for x in rgb:
        invert.append(255 - x)
    
    return tuple(invert)

In [58]:
color_invert((255, 255, 255))

(0, 0, 0)

In [59]:
color_invert((0, 0, 0))

(255, 255, 255)

In [60]:
color_invert((165, 170, 221))

(90, 85, 34)

Exercise 04

When resistors are connected together in series, the same current passes through each resistor in the chain and the total resistance, RT, of the circuit must be equal to the sum of all the individual resistors added together. That is:

RT = R1 + R2 + R3 ...
Create a function that takes an array of values resistance that are connected in series, and calculates the total resistance of the circuit in ohms. The ohm is the standard unit of electrical resistance in the International System of Units ( SI ).

In [92]:
def series_resistance(series):
    RT = sum(series)
    if RT <= 1:
        return f"{RT} ohm"
    else:
        return f"{RT} ohms"

In [96]:
def series_resistance(series):
    RT = sum(series)
    if RT <= 1:
        return ("{RT} ohm").format(RT=RT)
    else:
        return ("{RT} ohm").format(RT=RT)

In [97]:
series_resistance([1, 5, 6, 3]) #"15 ohms"

'15 ohm'

In [86]:


series_resistance([16, 3.5, 6]) #"25.5 ohms"

'25.5 ohms'

In [87]:
series_resistance([0.5, 0.5]) #"1.0 ohm"

'1.0 ohm'

Exercise 05

Python got drunk and the built-in functions str() and int() are acting odd:

str(4) ➞ 4

str("4") ➞ 4

int("4") ➞ "4"

int(4) ➞ "4"
You need to create two functions to substitute str() and int(). A function called int_to_str() that converts integers into strings and a function called str_to_int() that converts strings into integers.

Examples:
int_to_str(4) ➞ "4"

str_to_int("4") ➞ 4

int_to_str(29348) ➞ "29348"

Notes
This is meant to illustrate the dangers of using already-existing function names.
Extra points if you can de-drunk Python.

In [13]:
def int_to_str(num):
    number = f'{num}'
    return number

def str_to_int(text):
    number = float(text)
    return number

In [14]:
str_to_int("4")

4.0

In [15]:
int_to_str(29348)

'29348'

In [16]:
int_to_str(4)

'4'

Exercise 06

Given the month and year as numbers, return whether that month contains a Friday 13th.

Examples
has_friday_13(3, 2020) ➞ True

has_friday_13(10, 2017) ➞ True

has_friday_13(1, 1985) ➞ False
Notes
January will be given as 1, February as 2, etc ...
Check Resources for some helpful tutorials on Python's datetime module.

In [38]:
import datetime

weekDays = "monday tuesday wednesday thursday friday saturday sunday".split(" ")

def has_friday_13(month, year):
    
    day_date = datetime.date(year, month, 13)
    
    day_weekday = day_date.weekday()
    
    day_weekday_as_string = weekDays[day_weekday]
    
    if day_weekday_as_string == "friday":
        return True
    else:
        return False

In [39]:
days

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [40]:
has_friday_13(4, 2022)

False

In [41]:
has_friday_13(4, 2022)

False

In [42]:
has_friday_13(10, 2017)

True

In [43]:
has_friday_13(1, 1985)

False

In [44]:
has_friday_13(3, 2020)

True

Excercise 07

Hashtag Generator
Create a function that is a Hashtag Generator by using the following rules:

The output must start with a hashtag (#).
1 Each word in the output must have its first letter capitalized.
2 If the final result, a single string, is longer than 140 characters, the function should return false.
3 If either the input (str) or the result is an empty string, the function should return false.
Examples
generate_hashtag("    Hello     World   " ) ➞ "#HelloWorld"

generate_hashtag("") ➞ false, "Expected an empty string to return false"

generate_hashtag("Edabit Is Great") ➞ "#EdabitIsGreat", "Should remove spaces."

In [82]:
def generate_hashtag(text):
    if len(text) > 140:
        return False
    elif len(text) == 0:
        return False
    else:
        if len(text.replace(" ", "")) == 0:
            return False
        else:
            txt = "#"+text.title()
            return "".join(txt.split())

In [83]:
generate_hashtag("    hello    world   ")

'#HelloWorld'

In [84]:
generate_hashtag("")

False

In [85]:
generate_hashtag("Eda Bit")

'#EdaBit'

In [86]:
def generate_hashtag(txt):
    txt = txt.title().replace(" ", "")
    return '#' + txt if 0 < len(txt) < 140 else False

In [90]:
generate_hashtag("Eda Bit")

'#EdaBit'

In [89]:
generate_hashtag("")

False

In [91]:
generate_hashtag("    hello    world   ")

'#HelloWorld'

Excercise 08

In this challenge, establish if a given integer num is a Curzon number. If 1 plus 2 elevated to num is exactly divisible by 1 plus 2 multiplied by num, then num is a Curzon number.

Given a non-negative integer num, implement a function that returns True if num is a Curzon number, or False otherwise.

Examples
is_curzon(5) ➞ True
# 2 ** 5 + 1 = 33
# 2 * 5 + 1 = 11
# 33 is a multiple of 11

is_curzon(10) ➞ False
# 2 ** 10 + 1 = 1025
# 2 * 10 + 1 = 21
# 1025 is not a multiple of 21

is_curzon(14) ➞ True
# 2 ** 14 + 1 = 16385
# 2 * 14 + 1 = 29
# 16385 is a multiple of 29

In [94]:
def is_curzon(num):
    x = 2 ** num + 1
    y = 2 * num + 1
    print(x)
    print(y)
    print (x % y)
    if x % y == 0:
        return True
    else:
        return False

In [95]:
is_curzon(14)

16385
29
0

True

In [96]:
is_curzon(10)

1025
21
17

False

In [97]:
is_curzon(5)

33
11
0

True

In [103]:
def in_curzon2(n):
    return not (2**n + 1) % (2*n + 1)

In [107]:
in_curzon2(5)

True

Exercise 09

In this challenge, sort a list containing a series of dates given as strings. Each date is given in the format DD-MM-YYYY_HH:MM:

"12-02-2012_13:44"
The priority of criteria used for sorting will be:

Year
Month
Day
Hours
Minutes
Given a list lst and a string mode, implement a function that returns:

if mode is equal to "ASC", the list lst sorted in ascending order.
if mode is equal to "DSC", the list lst sorted in descending order.

Examples
sort_dates(["10-02-2018_12:30", "10-02-2016_12:30", "10-02-2018_12:15"], "ASC") ➞ ["10-02-2016_12:30", "10-02-2018_12:15", "10-02-2018_12:30"]

sort_dates(["10-02-2018_12:30", "10-02-2016_12:30", "10-02-2018_12:15"], "DSC") ➞ ["10-02-2018_12:30", "10-02-2018_12:15", "10-02-2016_12:30"]

sort_dates(["09-02-2000_10:03", "10-02-2000_18:29", "01-01-1999_00:55"], "ASC") ➞ ["01-01-1999_00:55", "09-02-2000_10:03", "10-02-2000_18:29"]

Notes
Remember: the date is in the format DD-MM-YYYY_HH:MM.
You can expect only valid formatted dates, without exceptions to handle.

In [113]:
import datetime
def sort_dates(dates, sorting):
    return 0

In [114]:
d = ['09-2012', '04-2007', '11-2012', '05-2013', '12-2006', '05-2006', '08-2007']
sorted(d, key=lambda x: datetime.datetime.strptime(x, dates_list))

['05-2006', '12-2006', '04-2007', '08-2007', '09-2012', '11-2012', '05-2013']

In [179]:
from datetime import datetime as dt
dates_list = ["09-02-2000_10:03", "10-02-2000_18:29", "01-01-1999_00:55"]
dates_list.sort(key=lambda x: dt.strptime(x, '%d-%m-%Y_%H:%M'))

In [198]:
from datetime import datetime as dt
dates_list = ["09-02-2000_10:03", "10-02-2000_18:29", "01-01-1999_00:55"]
dates_list.sort(key=lambda x: dt.strptime(x, '%d-%m-%Y_%H:%M'))
dates_list

['01-01-1999_00:55', '09-02-2000_10:03', '10-02-2000_18:29']

In [182]:
from datetime import datetime as dt
date_string = ["21 June, 2018", "21 July, 2018", "01 July, 2016"]

In [199]:
from datetime import datetime as dt

def sort_dates(lst, mode):
    lst.sort(key=lambda x: dt.strptime(x, '%d-%m-%Y_%H:%M'))
    return lst if mode == 'ASC' else lst[::-1]

In [200]:
lst = ["09-02-2000_10:03", "10-02-2000_18:29", "01-01-1999_00:55"]
sort_dates(lst, 'ASC')

['01-01-1999_00:55', '09-02-2000_10:03', '10-02-2000_18:29']

In [201]:
sort_dates(lst, 'DSC')

['10-02-2000_18:29', '09-02-2000_10:03', '01-01-1999_00:55']

In [207]:
def sort_dates2(lst, mode):
    sorted_dates = sorted(lst, key=lambda x: datetime.strptime(x,"%d-%m-%Y_%H:%M"))
    return sorted_dates if mode=='ASC' else sorted_dates[::-1]

In [208]:
sort_dates2(lst, 'DSC')

['10-02-2000_18:29', '09-02-2000_10:03', '01-01-1999_00:55']